section.about   
    .container 
        .about__wrapper 
            .about__inner 
                .about__content 
                    h2(class="about__title about__title--left title") About Us
                    p.about__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra adipiscing ultrices vulputate posuere tristique. In sed odio nec aliquet eu proin mauris et.
                    button(class="about__btn btn") Know More
                img.about__img(src="./img/about/knife.png", alt="")
                .about__history 
                    h2(class="about__title about__title--right title") Our History
                    p.about__text Adipiscing tempus ullamcorper lobortis odio tellus arcu volutpat. Risus placerat morbi volutpat habitasse interdum mi aliquam In sed odio nec aliquet.
                    button(class="about__btn btn") Know More