section.bar 
    .bar__wrapper
    .container  
        .bar__inner 
            a(href="#").bar__link Bar Menu
            a(href="#").bar__link Food Menu
            a(href="#").bar__link Desserts Menu
            
                