header.header 
    include header-nav.pug
    .container 
        .header__sidebar 
            p.header__sidebar-item #Bar
            p.header__sidebar-item #Gericht
        .header__inner 
            .header__content    
                p.header__suptitle Chase the new Flavour
                h1.header__title The key to Fine dining
                p.header__text Sit tellus lobortis sed senectus vivamus molestie. Condimentum volutpat morbi facilisis quam scelerisque sapien. Et, penatibus aliquam amet tellus 
                button(class="header__btn btn") Explore Menu
            div(class="header__img img") 
                div(class="header__img-inner img-inner")
                    img(src="./img/header/header-img.jpeg", alt="")
        .header__pages
            p(class="header__pages-item header__pages-item--active") 01
            .header__pages-line     
            p.header__pages-item 02
            p.header__pages-item 03
            p.header__pages-item 04
