doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/main.css")
        title Gericht
    body 
        include header.pug
        main.main     
            include about.pug
            include reserv.pug
            include bar.pug 
            include special.pug 
            include chef.pug 
            include customers.pug 
            include video.pug 
            include laurels.pug 
            include blog.pug 
            include photo.pug 
        include footer.pug
            
    script(src="./js/main.js") 