section.photo 
    .photo__container   
        .photo__inner 
            .photo__content
                h3(class="photo__suptitle suptitle") Instagram
                h2(class="photo__title title") Photo Gallery
                p.photo__text   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat mattis ipsum turpis elit elit scelerisque egestas mu.
                button(class="photo__btn btn") View More
            .photo__imgs    
                .photo__img 
                    img(src="./img/photo/photo-1.jpg", alt="")
                .photo__img 
                    img(src="./img/photo/photo-2.jpg", alt="")
                .photo__img 
                    img(src="./img/photo/photo-3.jpg", alt="")
                .photo__img 
                    img(src="./img/photo/photo-4.jpg", alt="")

