// Font-Family
$ff-main: "Open Sans";
$ff-accent: "Cormorant Upright";

// Background
$bg-main: #0c0c0c;
$bg-accent: #dcca87;

// Border
$border-main: rgba(220, 202, 135, 0.2);
$border-accent: rgb(245, 239, 219);
$border-btn: rgb(220, 202, 135);

// Colors
$color-main: #fff;
$color-accent: #dcca87;
$color-black: #0c0c0c;
$color-gray: #aaa;
$color-light-accent: #F5EFDB;
